
<!DOCTYPE html>
<html>
  <head>
    <%provide(:title, "About") %>
    <meta charset="utf-8">
  </head>
  <body>

    <h1> Why we got started </h1>

    <p>Founder and fitness enthusiast Jeremy Lamande started Fit Instructor to solve a personal problem</p>

  </body>
</html>
